
<section class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="App Academy Times">
  </div>

  <div>
    <ul class=masthead-links>
      <li><time>Tuesday, October 18, 2016</time></li>
      <li>
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <a href="#">Today’s Paper</a>
      </li>
      <li>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href="#">Video</a>
      </li>
      <li>
        <button type="button" name="button">77°F</button>
      </li>
      <li>
        <button type="button" name="button">
          AAO <strong>+100%</strong>
        </button>
      </li>
    </ul>
  </div>

</section>
