/* PHASE 1: Header */
body {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
}

nav {
  background-color: red;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}


.main-nav-right {
  display: flex;
  align-items: center;
  border-left: 1px solid;
}

.main-nav-right a:last-of-type {
  border-right: 1px solid;
}


.main-nav-left {
  font-weight: bold;
  border-left: 1px solid;
  border-right: 1px solid;
}

.main-nav a {
  padding: 10px;
  border-color: white;
}

.main-nav a:hover {
  background-color: black;
}
