
<table>
  <tr>
    <td>Cat Name: </td>
    <td> <%= @cat_rental_request.name %> </td>
  </tr>

  <tr>
    <td>Start Date: </td>
    <td> <%= @cat_rental_request.start_date %> </td>
  </tr>

  <tr>
    <td>End Date: </td>
    <td> <%= @cat_rental_request.end_date %> </td>
  </tr>

  <tr>
    <td>Status: </td>
    <td> <%= @cat_rental_request.status %> </td>
  </tr>


</table>
