<h1>Login</h1>



<form class="" action="<%= session_url %>" method="post">

   <label>Username
     <input type="text" name="user[username]" value="">
   </label>
   <label>Password
     <input type="password" name="user[password]" value="">
   </label>

   <button type="submit" name="button">Log In</button>
</form>
