<h2>New Tweet!</h2>
<form action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>

  <script type='text/javascript'>
    window.users = <%= render("users/users.json.jbuilder", users: User.all).html_safe %>; 
  </script>
    
  <button type="button" class="add-mention">Add Mention</button>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
