/* PHASE 9: Forms */
.content-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

form {
  flex: 2;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20px;
}

.input {
  margin-bottom: 20px;
}

.input label {
  display: flex;
  flex-direction: column;
  font-weight: bold;

}

.input label input, textarea {
  font-weight: normal;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 570px;
  margin-top: 5px;
}

.input label input:focus, textarea:focus {
  border: 1px solid #0c0;
}

textarea {
  min-height: 120px;
}

.submit-cancel strong {
  font-weight: bold;
  padding-left: 5px;
}

.submit-cancel span {
  padding-left: 5px;
}

.submit-cancel strong:hover {
  color: red;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #0c0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 3px solid #070;
}

input[type="submit"]:hover {
  background-color: #0b0;
}
