<% if current_user.follows?(user) %>
  <% initial_follow_state = 'followed' %>
  <%#= button_to 'Unfollow', user_follow_url(user), method: :delete %>
<% else %>
  <% initial_follow_state = 'unfollowed' %>
  <%#= button_to 'Follow', user_follow_url(user), method: :post %>
<% end %>

<button type="button" 
        class='follow-toggle'
        data-user-id='<%= user.id %>'
        data-initial-follow-state='<%= initial_follow_state %>'>
</button>