@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
	// position: relative;
	// height: 100%;
}

body {
  // display: block;
  background-color: #111;
}

p, a, input {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.main-content {
  width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;
  border: solid grey;
  border-width: 0 5px;
  background-color: #343030;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user-detail {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.login-status {
  margin: 10px;
}

.main-logo {
  font-size: 75px;
  margin-bottom: 30px;
  color: #FDDB61;
}

.page-header {
  font-size: 40px;
  color: #39BAAC;
  margin-bottom: 30px;
}

.sub-header {
  font-size: 25px;
  color: coral;
  margin: 20px 0;
}

.page-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1, h2, h3, h4 {
	font-family: 'Bungee Inline', cursive;
}

p {
    color: white;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form p label, .form p input {
  // display: block;
}

.form p label {
  // padding-right: 10px;
  // color: white;
}

input[type='submit'] {
  // padding: 10px;
  // border-radius: 5px;
  // border: none;
  // background-color: skyblue;
  // margin-bottom: 20px;
  align-self: flex-end;
}

.button, input[type='submit'] {
  // display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: skyblue;
  color: black;
  margin-bottom: 20px;
}
